body {
    font-family: 'Slabo 27px', serif;
    font-weight: 400;
    color: #000000;
}
h1,h2,h3 {
    font-family: 'Abril Fatface', cursive;
}
h2 {
    font-size: 40px;
}
h3 {
    font-size: 30px;
}
p {
    font-size: 22px;
}
a {
    text-decoration: underline;
    color: #000000;
    cursor: url("../images/wine1.png"), auto;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #F7D7DE;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #F7D7DE;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #F7D7DE;
}
:-moz-placeholder { /* Firefox 18- */
  color: #F7D7DE;
}
.fa {
    color: #000000;
}
.hide {
    display: none !important;
}
.WUW-hc {
    padding-top: 5%;
	text-align: center;
	font-size: 90px;
}
.WUW-hsub {
    text-align: center;
    padding-bottom: 10%;
}
.WUW-hero {
    padding: 25px 0;
	background-color: #F7D7DE;
    max-height: 600px;
}
.WUW-menu {
     text-align: center;
}
.WUW-menu li {
	display: -webkit-inline-box;
	text-decoration: underline;
    font-size: 22px;
}
.WUW-desc {
    padding: 2.5% 0; 
    line-height: 2;
    background-color: #DE9251;
    max-height: 360px;
}
.WUW-ComingEvents {
    max-height: 1176px;
    background-color: #E0DBD2;
    padding-bottom: 5%;
}
.WUW-event {
    padding-top: 5%;
    padding-left: 50px;
}
.WUW-event a {
    text-decoration: underline;
    color: #000000;
}
.WUW-event a:hover {
    text-decoration: none;
    color: #000000;
}
.WUW-signUp {
    max-height: 420px;
    background-color: #000000;
    color: #F7D7DE;
    padding: 2% 0;
    text-align: center;
}
.WUW-affiliate {
    padding: 2% 0;
    text-align: center;
}
.SU-logo {
    display: block;
    margin: auto;
    max-width: 120px;
}
.WUW-social {
    text-align: center;
    padding-bottom: 15px;
}
.WUW-social a{
    padding: 0 15px; 
}
.WUW-social a:hover{
    opacity: .8;
}
.WUW-footer p{
    text-align: center;
    font-size: 18px;
}
.WUW-suheader {
    padding-bottom: 2%;
}
.WUW-susub {
    padding-bottom: 3%;
}
#mc_embed_signup{
    width:100%;
}
.clear {
    clear:both;
}
#mce-EMAIL {
    background-color: #000000;
    border: solid 2px #F7D7DE;
    padding: 15px;
}
#mc-embedded-subscribe {
    font-family: 'Abril Fatface', cursive;
    border: none;
    background-color: #000000;
    text-decoration: underline;
    font-size: 30px;
    padding-top: 2%;
    cursor: url("../images/wine2.png"), auto;
}
#mc-embedded-subscribe:hover{
    text-decoration: none;
}
/* Responsive CSS phone */
@media (max-width: 768px)  {
    .WUW-hc {
        font-size: 60px;
    }
    h2 {
        font-size: 36px;
    }
    h3 {
        font-size: 28px;
    }
    p {
        font-size: 20px;
    }
    .WUW-desc {
        padding: 5% 0;
        max-height: 900px;
    }
    .WUW-signUp {
        padding: 8% 0;
    }
    #mce-EMAIL {
        margin: 4.125%;
    }
    #mc-embedded-subscribe {
        padding-top: 5%;
    }
    .fa-2x {
        font-size: 45px !important;
    }
    ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        font-size: 18px;
    }
    ::-moz-placeholder { /* Firefox 19+ */
        font-size: 18px;
    }
    :-ms-input-placeholder { /* IE 10+ */
        font-size: 18px;
    }
    :-moz-placeholder { /* Firefox 18- */
        font-size: 18px;
    }
    .WUW-social {
        padding-top: 15px;
    }
}